html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  margin: 0;
  padding: 0;
  display: flex;
  transform: skew(-20deg);
  font-size: 1.6rem;
  color: #7FDFF2;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}


.container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(/InvercionesHTweb/image/4884841.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  background-color: #000;
}

.logo {
  position: relative;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 30%;
}

.logo>img {
  width: 100%;
  height: 100%;
}

.menu {
  position: relative;
  right: 5%;
  display: flex;
  width: 8%;
}

.menu-modal {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
  margin: 0;
  z-index: 500;
  padding: 8em 0 7em;
}

.menu-modal>img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.active {
  transform: translate(0, -100%);
  transition: all 0.5s ease;
}

.menu-modal>nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu-modal nav>ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-modal nav ul>li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: #7FDFF2;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 4.8em;
}

#banner-text {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0 1em;
  color: #7FDFF2;
  margin-top: 2em;
}

#banner-text h2 {
  font-size: 2rem;
  margin: 0 auto;
  padding: 0;
}

#banner-text p{
  font-size: 1.5rem;
}


article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

article>h2 {
  font-size: 2rem;
  margin-top: 3em;
  padding: 0;
  text-align: center;
  color: #7FDFF2;
}

.iconmenu {
  width: 25px;
}

#product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 3px solid #2249cb;
  margin-top: 3em;
  box-sizing: border-box;
}

#product>img {
  width: 100%;
  box-sizing: border-box;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  color: #893bd3;
}

.product-info>h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.product-info>p {
  font-size: 1.5rem;
 margin: 0;
 padding: 0;
text-align: center;
}

.product-info>button {
  background-color: #893bd3;
  color: #7FDFF2;
  border: none;
  border-radius: 5px;
  padding: 0;
  font-size: 1rem;
  margin: 1.5rem;
  width: 30%;
  height: 20%;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 2em;
}

footer > h2 {
  color: #7FDFF2;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer > form {
display: flex;
flex-direction: column;
width: 70%;
max-height: 500px;
border: 2px solid #7FDFF2;
border-radius: 10px;
box-sizing: border-box;
margin: 2em 0;
}

label{
  color: #7FDFF2;
  font-size: 1rem
}

input{
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}

#submit{
  width: 40%;
  height: 50px;
  background-color: #893bd3;
  color: #7FDFF2;
  font-size: 1.5rem;
  border-radius: 15px;
  margin: auto;
}
